@import './../../../styles/colors.scss';
.Partner {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 38rem;
   height: 15rem;
   text-align: center;
   border: 1px solid $color-green-light;
   border-radius: .3rem;
   margin: .5rem;
   cursor: pointer;

   
   &__Header {
      font-size: 3.5rem;
      color: $color-grey;
      &:hover {
         transition: all .5s;
         color: $color-green-dark;
         font-size: 5rem
      }
   }
}
