@import '../../styles/container.scss';
@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.Slider {
   overflow: hidden;
   position: relative;
}

.Slider-Box {
   display: flex;
}